<h1>Report a case</h1>

<form action="/send" method="POST">
  <label>
    <p><%= t.form.labels.name %>
    <input type="text" name="user_name" />
  </label>

  <label>
      <p><%= t.form.labels.address %>
      <input type="text" name="user_address" />
  </label>
  <button type="submit"><%= t.form.labels.submit %></button>
</form>
